.H1{
    display: flex;
    justify-content: center;
    align-items: center;


}
.button{
    width: 60px;
    height: 30px;

}
.bouton{
    display: flex;
    justify-content: space-around;
}
body{
    background-image: url(Image/carte.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
}
p{
    color: blue;
}
.wiki{
    display: flex;
    justify-content: center;
}